PORT=3001
MONGODB_URI=mongodb://localhost:27017/arabicjuniors
SESSION_SECRET=1234567890_-$^21hjhsjd
JWT_SECRET=1234567890_-$^21hjhsjd
CLIENT_URL=http://localhost:3000 #must be set, else deployment will fail

BREVO_V1_API_KEY=
BREVO_VERIFIED_SENDER_EMAIL=
JWT_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
MASTER_2FA_RESET_KEY=